:root{

  --color1: #234d80;
  --color2: #c5d8ef;
  --color3: #f6f9fd;

  --txtcolor: black;

  --font1: 'Molengo', Georgia, Times, serif;
  --font2: 'Lekton', Helvetica, Arial, sans-serif;

}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Droid Serif', Georgia, Times, serif;
}
h2, p, div {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

body {

  padding-top: 20px;
  padding-bottom:  40px;

}

.link_btn{

  background-color: var(--color1);
  border-style: none;
  transition-duration: 0.2s;
  width: 150px;

}

.container-narrow {
  margin: 0 auto;
  max-width: 800px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron{

  text-align: center;

  padding: 20px;

}

.card{

  transition-duration: 0.3s;
  transition-delay: 0.1s;
  transition-timing-function: linear;

}

.card:hover{

  background-color: #d6eaf8;

}

.dropdown:hover>.dropdown-menu {
  display: block;
} 

.card{

  overflow: hidden; 
  position: relative;

}

.card-img-top{

  transition-duration: 0.3s;
  transition-delay: 0.1s;
  transition-timing-function: linear;

}

.card:hover>.card-img-top{

  scale: 1.01;

}

/* From Markdown style sheet */

table {
	border-collapse: collapse;
	margin-bottom: 0.7em;
}

th {
	text-align: left;
	border-bottom: 1px solid;
}

th,
td {
	padding: 5px 10px;
}

table > tbody > tr + tr > td {
	border-top: 1px solid;
}

blockquote {
	margin: 0;
	padding: 2px 16px 0 10px;
	border-left-width: 5px;
	border-left-style: solid;
	border-radius: 2px;
}

code {
	font-family: var(--vscode-editor-font-family, "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace);
	font-size: 1em;
	line-height: 1.357em;
}